<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko Custom Tags</title>
</head>
<body>
    <h1>Marko Custom Tags</h1>

    <app-hello name="Frank"/>
    <app-hello-template name="John"/>    
</body>
</html>
